.month-container {
  display: flex;
  flex-direction: row;
}

.date-container {
  min-width: 5vw;
  height: 100%;
  position: relative;
}

.date-text-container {
  position: absolute;
  bottom: 20px;
}
